.block {
  display: flex;
  align-items: center;
  justify-content: center;
  border: solid red 2px;
  margin: 10px auto;
}
.selectedPage {
  font-weight: bold;
}

.paginator {
  border: solid black 2px;
}

.paginator button {
  width: 80px;
}

.paginator button.pages_button {
  display: inline-block;
  border: none;
  outline: none;
  border-radius: 5px;
  text-decoration: none;
  background: rgb(207, 207, 207);
  color: #ffffff;
  cursor: pointer;
  text-align: center;
  transition: background 250ms ease-in-out, transform 150ms ease;
  -webkit-appearance: none;
  -moz-appearance: none;

  width: 50px;
}

.paginator button.pages_button:hover {
  background: rgb(177, 177, 177);
}

.paginator button.pages_button:focus {
}

.paginator button.pages_button:active {
  transform: scale(0.99);
}
