.user {
  display: grid;
  grid-template-columns: 2fr 20fr;
  padding: 10px;
}

button {
  display: inline-block;
  border: none;
  border-radius: 15px;
  text-decoration: none;
  background: rgb(74, 118, 168);
  color: #ffffff;
  cursor: pointer;
  text-align: center;
  transition: background 250ms ease-in-out, transform 150ms ease;
  -webkit-appearance: none;
  -moz-appearance: none;
}

button:hover,
button:focus {
  background: rgb(54, 98, 148);
}

button:focus {
  outline: 1px solid #fff;
  outline-offset: -4px;
}

button:active {
  transform: scale(0.99);
}

.user_name {
  font-weight: bold;
}

img {
  width: 50px;
  height: 50px;
}
