.header{
	grid-area: h;
	background-color: darkcyan;
	border-radius: 8px;
}
.header img{
	padding-top: 5px;
	padding-left: 5px;
	width: 55px;
}
.loginBlock {
	float: right;
	margin-top: 12px;
	margin-right: 40px;
	color: white;
}